<md-content flex layout-padding>
  <div layout="column" layout-fill layout-align="top center">
    <aside class="map-container" id="map-container"></aside>
  </div>

  <div flex></div>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Speaker detail</h1>
  </md-toolbar>

  <md-content layout-padding>
    <md-button ng-click="map.close()" class="md-primary">close</md-button>

    <p>name: {{map.marker_info.data.name}}</p>
    <p>email: {{map.marker_info.data.email}}</p>
    <p>website: {{map.marker_info.data.website}}</p>
    <p>city: {{map.marker_info.data.city}}</p>
  </md-content>

</md-sidenav>
